{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
{% block content %} 
    
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our team page. Below are the details of our team members:</p>
    <ul>
        <li>Team Member 1 - Student ID: 12345</li>
        <li>Team Member 2 - Student ID: 12345</li>
        <li>Team Member 3 - Student ID: 12345</li>
        <li>Team Member 4 - Student ID: 12345</li>
    </ul>
</div>

{% endblock %}
</body>
</html>
